/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2400  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30    // default: 10

&mmv {
    time-to-max-speed-ms = <200>;
    acceleration-exponent = <1>;
};

&lt { flavor = "balanced"; };

/ {
    combos {
        compatible = "zmk,combos";

        M3Combo {
            bindings = <&mkp MB3>;
            key-positions = <5 6>;
            timeout-ms = <100>;
        };

        cb_1 {
            bindings = <&kp NUMBER_1>;
            key-positions = <52 25>;
            timeout-ms = <100>;
        };

        cb_2 {
            bindings = <&kp NUMBER_2>;
            key-positions = <52 26>;
            timeout-ms = <100>;
        };

        cb_3 {
            bindings = <&kp NUMBER_3>;
            key-positions = <52 27>;
            timeout-ms = <100>;
        };

        cb_4 {
            bindings = <&kp NUMBER_4>;
            key-positions = <52 28>;
            timeout-ms = <100>;
        };

        cb_5 {
            bindings = <&kp NUMBER_5>;
            key-positions = <52 29>;
            timeout-ms = <100>;
        };

        cb_6 {
            bindings = <&kp NUMBER_6>;
            key-positions = <55 30>;
            timeout-ms = <100>;
        };

        cb_7 {
            bindings = <&kp NUMBER_7>;
            key-positions = <55 31>;
            timeout-ms = <100>;
        };

        cb_8 {
            bindings = <&kp NUMBER_8>;
            key-positions = <55 32>;
            timeout-ms = <100>;
        };

        cb_9 {
            bindings = <&kp NUMBER_9>;
            key-positions = <55 33>;
            timeout-ms = <100>;
        };

        cb_0 {
            bindings = <&kp NUMBER_0>;
            key-positions = <55 34>;
            timeout-ms = <100>;
        };

        cb_grave {
            bindings = <&kp GRAVE>;
            key-positions = <52 38>;
            timeout-ms = <100>;
        };

        cb_dash {
            bindings = <&kp MINUS>;
            key-positions = <52 39>;
            timeout-ms = <100>;
        };

        cb_eqaul {
            bindings = <&kp EQUAL>;
            key-positions = <52 40>;
            timeout-ms = <100>;
        };

        cb_lb {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <55 45>;
            timeout-ms = <100>;
        };

        cb_rb {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <55 46>;
            timeout-ms = <100>;
        };

        cb_plus {
            bindings = <&kp BACKSLASH>;
            key-positions = <55 47>;
            timeout-ms = <100>;
        };

        cb_lgui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <50 51>;
            slow-release;
            timeout-ms = <100>;
        };

        cb_ology {
            bindings = <&mcr_ology>;
            key-positions = <29 18 21 33>;
        };

        cb_tion {
            bindings = <&mcr_tion>;
            key-positions = <17 20 21 44>;
        };

        cb_macro {
            bindings = <&mcr_ment>;
            key-positions = <45 44 16 15>;
        };

        cb_ness {
            bindings = <&mcr_ness>;
            key-positions = <44 15 26>;
        };

        cb_struct {
            bindings = <&mcr_struct>;
            key-positions = <26 39 19 17 16>;
        };

        cb_trans {
            bindings = <&mcr_trans>;
            key-positions = <16 25 26 44 17>;
        };

        cb_inter {
            bindings = <&mcr_inter>;
            key-positions = <20 44 15 16 17>;
        };

        cb_scrip {
            bindings = <&mcr_scrip>;
            key-positions = <26 39 16 20 22>;
        };

        cb_super {
            bindings = <&mcr_super>;
            key-positions = <26 19 22 15 16>;
        };

        cb_graph {
            bindings = <&mcr_graph>;
            key-positions = <29 16 25 22 30>;
        };

        cb_less {
            bindings = <&mcr_less>;
            key-positions = <33 15 26>;
        };
    };

    macros {
        mcr_ology: mcr_ology {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp L &kp O &kp G &kp Y>;
            label = "MCR_OLOGY";
        };

        mcr_tion: mcr_tion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp I &kp O &kp N>;
            label = "MCR_TION";
        };

        mcr_ment: mcr_ment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp E &kp N &kp T>;
            label = "MCR_MENT";
        };

        mcr_ness: mcr_ness {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp E &kp S &kp S>;
            label = "MCR_NESS";
        };

        mcr_struct: mcr_struct {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp T &kp R &kp U &kp C &kp T>;
            label = "MCR_STRUCT";
        };

        mcr_trans: mcr_trans {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp R &kp A &kp N &kp S>;
            label = "MCR_TRANS";
        };

        mcr_inter: mcr_inter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp T &kp E &kp R>;
            label = "MCR_INTER";
        };

        mcr_scrip: mcr_scrip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp C &kp R &kp I &kp P>;
            label = "MCR_SCRIP";
        };

        mcr_super: mcr_super {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp U &kp P &kp E &kp R>;
            label = "MCR_SUPER";
        };

        mcr_graph: mcr_graph {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp R &kp A &kp P &kp H>;
            label = "MCR_GRAPH";
        };

        mcr_less: mcr_less {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp E &kp S &kp S>;
            label = "MCR_LESS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "Base";
            bindings = <
&kp ESCAPE        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp MB2                     &mkp MB1     &kp LEFT         &kp DOWN             &kp UP   &kp RIGHT  &kp DELETE
&kp TAB           &kp Q           &kp W           &kp E         &kp R            &kp T                        &kp Y        &kp U            &kp I                &kp O    &kp P      &kp BACKSPACE
&kp LEFT_SHIFT    &kp A           &kp S           &kp D         &kp F            &kp G                        &kp H        &kp J            &kp K                &kp L    &kp SEMI   &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp Z           &kp X           &kp C         &kp V            &kp B        &none    &none  &kp N        &kp M            &kp COMMA            &kp DOT  &kp FSLH   &kp SQT
                                                  &kp LEFT_ALT  &lt 2 LEFT_GUI   &lt 1 SPACE  &none    &none  &lt 1 ENTER  &lt 2 RIGHT_ALT  &lt 3 RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        special_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "Special";
            bindings = <
&mkp MB4  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &mkp MB5                    &kp LS(LC(TAB))  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END  &kp LC(TAB)
&trans    &trans          &trans          &trans        &trans           &trans                      &trans           &trans    &trans     &trans     &trans   &trans
&trans    &kp N1          &kp N2          &kp N3        &kp N4           &kp N5                      &kp N6           &kp N7    &kp N8     &kp N9     &kp N0   &trans
&trans    &trans          &kp GRAVE       &kp MINUS     &kp EQUAL        &trans    &trans    &trans  &trans           &kp LBKT  &kp RBKT   &kp BSLH   &trans   &trans
                                          &trans        &trans           &trans    &trans    &trans  &trans           &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "FN";
            bindings = <
&trans         &trans  &trans   &trans   &trans   &trans                                        &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_PRV     &kp F1  &kp F2   &kp F3   &kp F4   &mt C_PREVIOUS C_VOLUME_UP                    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_NXT     &kp F5  &kp F6   &kp F7   &kp F8   &mt C_NEXT C_VOLUME_DOWN                      &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_DISC 2  &kp F9  &kp F10  &kp F11  &kp F12  &mt C_MUTE C_PLAY_PAUSE     &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans   &trans   &trans                      &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mod_layer {
            display-name = "Mod";
            bindings = <
&trans  &trans           &trans         &trans           &trans           &trans                             &trans           &trans           &trans           &trans           &trans         &trans
&trans  &kp KP_NUMLOCK   &kp CAPSLOCK   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9                    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMLOCK   &kp CAPSLOCK   &trans
&trans  &kp KP_PLUS      &kp KP_MINUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6                    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_MINUS   &trans
&trans  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans    &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_MULTIPLY  &kp KP_DIVIDE  &trans
                                        &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_ENTER     &trans    &trans  &kp KP_DOT       &kp KP_NUMBER_0  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
