/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

&mmv {
    time-to-max-speed-ms = <200>;
    acceleration-exponent = <2>;
};

/ {
    combos {
        compatible = "zmk,combos";

        LShiftCombo {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        LControlCombo {
            bindings = <&kp LCTRL>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        LAltCombo {
            bindings = <&kp LEFT_ALT>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        LCtrlLShiftCombo {
            bindings = <&kp LC(LEFT_SHIFT)>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        LCtrlLAltCombo {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        LCtrlLShiftLAltCombo {
            bindings = <&kp LC(LA(LEFT_SHIFT))>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RShiftCombo {
            bindings = <&kp RSHIFT>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RCtrlCombo {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RLAltCombo {
            bindings = <&kp LEFT_ALT>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RCtrlRShiftCombo {
            bindings = <&kp LC(RIGHT_SHIFT)>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RCtrlRAltCombo {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RCtrlRShiftRAltCombo {
            bindings = <&kp LC(LA(RIGHT_SHIFT))>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        LGuiCombo {
            bindings = <&kp LEFT_GUI>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <200>;
            timeout-ms = <100>;
        };

        RGuiCombo {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <200>;
            timeout-ms = <100>;
        };

        LShiftLAltCombo {
            bindings = <&kp LA(LEFT_SHIFT)>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <100>;
        };

        RShiftLAltCombo {
            bindings = <&kp LA(RIGHT_SHIFT)>;
            key-positions = <>;
            slow-release;
            timeout-ms = <100>;
            require-prior-idle-ms = <50>;
        };

        LShiftLGuiCombo {
            bindings = <&kp LS(LEFT_GUI)>;
            key-positions = <>;
            require-prior-idle-ms = <50>;
            slow-release;
            timeout-ms = <100>;
        };

        LCtrlLGuiCombo {
            bindings = <&kp LC(LEFT_GUI)>;
            key-positions = <>;
            require-prior-idle-ms = <50>;
            slow-release;
            timeout-ms = <100>;
        };

        LAltLGuiCombo {
            bindings = <&kp LA(LEFT_GUI)>;
            key-positions = <>;
            require-prior-idle-ms = <50>;
            slow-release;
            timeout-ms = <100>;
        };

        RShiftRGuiCombo {
            bindings = <&kp LS(RIGHT_GUI)>;
            key-positions = <>;
            slow-release;
            timeout-ms = <100>;
            require-prior-idle-ms = <50>;
        };

        LCtrlRGuiCombo {
            bindings = <&kp LC(RIGHT_GUI)>;
            key-positions = <>;
            slow-release;
            timeout-ms = <100>;
            require-prior-idle-ms = <50>;
        };

        LAltRGuiCombo {
            bindings = <&kp LA(RIGHT_GUI)>;
            key-positions = <>;
            slow-release;
            timeout-ms = <100>;
            require-prior-idle-ms = <50>;
        };

        UpperPCombo {
            bindings = <&kp LS(P)>;
            key-positions = <>;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
            slow-release;
        };

        UpperOCombo {
            bindings = <&kp LS(O)>;
            key-positions = <>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        UpperQCombo {
            bindings = <&kp RS(Q)>;
            key-positions = <>;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
            slow-release;
        };

        UpperWCombo {
            bindings = <&kp RS(W)>;
            key-positions = <>;
            slow-release;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
        };

        UpperECombo {
            bindings = <&kp RS(E)>;
            key-positions = <>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        UpperRCombo {
            bindings = <&kp RS(R)>;
            key-positions = <>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        UpperTCombo {
            bindings = <&kp RS(T)>;
            key-positions = <>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        LGuiCombo2 {
            bindings = <&kp LEFT_GUI>;
            key-positions = <51 50>;
            timeout-ms = <100>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        RAltCombo {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <>;
            timeout-ms = <100>;
            require-prior-idle-ms = <50>;
        };
    };

    behaviors {
        esc_tilde: esc_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_TILDE";
            bindings = <&kp ESCAPE>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lalt_mode_tab_dance: lalt_mode_tab_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LALT_MODE_TAB_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&mo 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "Base";
            bindings = <
&trans            &trans  &trans  &trans                &trans  &trans                       &trans       &trans  &trans           &trans   &trans    &trans
&kp TAB           &kp Q   &kp W   &kp E                 &kp R   &kp T                        &kp Y        &kp U   &kp I            &kp O    &kp P     &kp BACKSPACE
&kp LEFT_SHIFT    &kp A   &kp S   &kp D                 &kp F   &kp G                        &kp H        &kp J   &kp K            &kp L    &kp SEMI  &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C                 &kp V   &kp B        &none    &none  &kp N        &kp M   &kp COMMA        &kp DOT  &kp FSLH  &kp SQT
                                  &lalt_mode_tab_dance  &mo 2   &lt 1 SPACE  &none    &none  &lt 1 ENTER  &mo 2   &lt 3 RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "FN";
            bindings = <
&trans                   &trans  &trans   &trans          &trans           &trans                            &trans          &trans          &trans           &trans    &trans     &trans
&kp ESCAPE               &kp F1  &kp F2   &kp F3          &kp F4           &trans                            &trans          &kp INSERT      &kp HOME         &kp UP    &kp END    &kp DELETE
&mt C_MUTE C_PLAY_PAUSE  &kp F5  &kp F6   &kp F7          &kp F8           &msc SCRL_UP                      &mkp MB3        &mmv MOVE_UP    &kp LEFT         &kp DOWN  &kp RIGHT  &kp PG_UP
&mt C_PREVIOUS C_NEXT    &kp F9  &kp F10  &kp F11         &kp F12          &msc SCRL_DOWN  &trans    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB1  &mkp MB2   &kp PG_DN
                                          &msc SCRL_LEFT  &msc SCRL_RIGHT  &trans          &trans    &trans  &trans          &mkp MB4        &mkp MB5
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        special_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "Special";
            bindings = <
&trans      &trans           &trans          &trans        &trans      &trans                         &trans     &trans          &trans             &trans                &trans                 &trans
&kp ESCAPE  &kp MINUS        &kp UNDERSCORE  &kp EQUAL     &kp PLUS    &trans                         &trans     &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DELETE
&kp TILDE   &kp EXCLAMATION  &kp AT_SIGN     &kp HASH      &kp DOLLAR  &kp PERCENT                    &kp CARET  &kp AMPERSAND   &kp ASTERISK       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE
&kp GRAVE   &kp N1           &kp N2          &kp N3        &kp N4      &kp N5       &trans    &trans  &kp N6     &kp N7          &kp N8             &kp N9                &kp N0                 &kp BACKSLASH
                                             &kp LEFT_GUI  &trans      &trans       &trans    &trans  &trans     &trans          &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mod_layer {
            display-name = "Mod";
            bindings = <
&bt BT_CLR    &trans           &trans         &trans           &trans           &trans                             &trans           &trans           &trans           &trans           &trans         &trans
&bt BT_SEL 0  &kp KP_NUMLOCK   &kp CAPSLOCK   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9                    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMLOCK   &kp CAPSLOCK   &kp DELETE
&bt BT_SEL 1  &kp KP_PLUS      &kp KP_MINUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6                    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_MINUS   &trans
&bt BT_SEL 2  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans    &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_MULTIPLY  &kp KP_DIVIDE  &trans
                                              &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_ENTER     &trans    &trans  &kp KP_DOT       &kp KP_NUMBER_0  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lefthanded_layer {
            display-name = "Gui";
            bindings = <
&kp N6  &kp N7  &kp N8     &kp N9     &kp N0    &kp CAPSLOCK                       &trans  &trans  &trans  &trans  &trans  &trans
&kp Y   &kp U   &kp I      &kp O      &kp P     &kp BSPC                           &trans  &trans  &trans  &trans  &trans  &trans
&kp H   &kp J   &kp K      &kp L      &kp SEMI  &kp SQT                            &trans  &trans  &trans  &trans  &trans  &trans
&kp N   &kp M   &kp COMMA  &kp DOT    &kp FSLH  &kp RIGHT_SHIFT  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                           &kp ENTER  &trans    &kp RIGHT_ALT    &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
