/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

&mmv { time-to-max-speed-ms = <50>; };

/ {
    combos {
        compatible = "zmk,combos";

        LShiftCombo {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <25 26>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        LControlCombo {
            bindings = <&kp LCTRL>;
            key-positions = <26 27>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        LAltCombo {
            bindings = <&kp LEFT_ALT>;
            key-positions = <27 28>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        LCtrlLShiftCombo {
            bindings = <&kp LC(LEFT_SHIFT)>;
            key-positions = <25 26 27>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        LCtrlLAltCombo {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <26 27 28>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        LCtrlLShiftLAltCombo {
            bindings = <&kp LC(LA(LEFT_SHIFT))>;
            key-positions = <25 26 27 28>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        RShiftCombo {
            bindings = <&kp RSHIFT>;
            key-positions = <34 33>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        RCtrlCombo {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <33 32>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        RLAltCombo {
            bindings = <&kp LEFT_ALT>;
            key-positions = <31 32>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        RCtrlRShiftCombo {
            bindings = <&kp LC(RIGHT_SHIFT)>;
            key-positions = <34 33 32>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        RCtrlRAltCombo {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <32 31 33>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        RCtrlRShiftRAltCombo {
            bindings = <&kp LC(LA(RIGHT_SHIFT))>;
            key-positions = <31 32 33 34>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        LGuiCombo {
            bindings = <&kp LEFT_GUI>;
            key-positions = <28 29>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        RGuiCombo {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <31 30>;
            slow-release;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
        };

        LShiftLAltCombo {
            bindings = <&kp LA(LEFT_SHIFT)>;
            key-positions = <25 26 28>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        RShiftLAltCombo {
            bindings = <&kp LA(RIGHT_SHIFT)>;
            key-positions = <34 33 31>;
        };

        LShiftLGuiCombo {
            bindings = <&kp LS(LEFT_GUI)>;
            key-positions = <29 28 25>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        LCtrlLGuiCombo {
            bindings = <&kp LC(LEFT_GUI)>;
            key-positions = <29 28 26>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        LAltLGuiCombo {
            bindings = <&kp LA(LEFT_GUI)>;
            key-positions = <29 28 27>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        RShiftRGuiCombo {
            bindings = <&kp LS(RIGHT_GUI)>;
            key-positions = <30 31 34>;
        };

        LCtrlRGuiCombo {
            bindings = <&kp LC(RIGHT_GUI)>;
            key-positions = <30 31 33>;
        };

        LAltRGuiCombo {
            bindings = <&kp LA(RIGHT_GUI)>;
            key-positions = <30 31 32>;
        };

        UpperPCombo {
            bindings = <&kp LS(P)>;
            key-positions = <23 22>;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
            slow-release;
        };

        UpperOCombo {
            bindings = <&kp LS(O)>;
            key-positions = <22 21>;
            slow-release;
            require-prior-idle-ms = <50>;
        };

        UpperQCombo {
            bindings = <&kp RS(Q)>;
            key-positions = <12 13>;
            require-prior-idle-ms = <50>;
            timeout-ms = <50>;
            slow-release;
        };

        UpperWCombo {
            bindings = <&kp RS(W)>;
            key-positions = <13 14>;
            slow-release;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
        };

        UpperECombo {
            bindings = <&kp RS(E)>;
            key-positions = <14 15>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        UpperRCombo {
            bindings = <&kp RS(R)>;
            key-positions = <15 16>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        UpperTCombo {
            bindings = <&kp RS(T)>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        LRAltCombo {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <24 25>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        RAltCombo {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <35 34>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };
    };

    behaviors {
        esc_tilde: esc_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_TILDE";
            bindings = <&kp ESCAPE>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "Base";
            bindings = <
&esc_tilde      &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                       &kp N6       &kp N7  &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB         &kp Q   &kp W   &kp E   &kp R   &kp T                        &kp Y        &kp U   &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LCTRL       &kp A   &kp S   &kp D   &kp F   &kp G                        &kp H        &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C   &kp V   &kp B        &none    &none  &kp N        &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHIFT
                                &mo 3   &mo 2   &lt 1 SPACE  &none    &none  &lt 1 ENTER  &mo 2   &mo 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "FN";
            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4                   &kp F5                 &kp F6                           &kp F7          &kp F8          &kp F9          &kp F10          &kp F11   &kp F12
&kp GRAVE  &kp N1  &kp N2  &kp N3                   &kp N4                 &kp N5                           &kp N6          &kp N7          &kp N8          &kp N9           &kp N0    &kp DELETE
&trans     &trans  &trans  &trans                   &trans                 &trans                           &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &mkp MB4  &mkp MB5
&trans     &trans  &trans  &trans                   &trans                 &kp RIGHT_ALT  &trans    &trans  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB1  &kp RIGHT_CONTROL
                           &mt C_MUTE C_PLAY_PAUSE  &mt C_PREVIOUS C_NEXT  &trans         &trans    &trans  &trans          &mkp MB3        &mkp MB2
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        gui_layer {
            // ------------------------------------------------------------------------------------------------------------

            display-name = "Gui";
            bindings = <
&kp N6  &kp N7  &kp N8     &kp N9     &kp N0    &kp GRAVE                          &trans  &trans  &trans  &trans                &trans                 &trans
&kp Y   &kp U   &kp I      &kp O      &kp P     &kp BSPC                           &kp N7  &kp N8  &kp N9  &kp MINUS             &kp EQUAL              &trans
&kp H   &kp J   &kp K      &kp L      &kp SEMI  &kp SQT                            &kp N4  &kp N5  &kp N6  &kp LBKT              &kp RBKT               &kp BSLH
&kp N   &kp M   &kp COMMA  &kp DOT    &kp FSLH  &kp RIGHT_SHIFT  &trans    &trans  &kp N1  &kp N2  &kp N3  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_SHIFT
                           &kp ENTER  &trans    &kp RIGHT_ALT    &trans    &trans  &kp N0  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        alt_layer {
            display-name = "Alt";
            bindings = <
&bt BT_CLR    &kp KP_NUMLOCK  &kp KP_PLUS  &kp KP_MINUS     &kp KP_MULTIPLY  &kp KP_SLASH                       &trans                &trans            &trans         &trans          &trans        &trans
&bt BT_SEL 0  &trans          &trans       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9                    &trans                &trans            &kp INSERT     &kp SCROLLLOCK  &kp CAPSLOCK  &kp DELETE
&bt BT_SEL 1  &trans          &trans       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6                    &trans                &trans            &kp PAGE_UP    &kp HOME        &kp UP        &kp END
&bt BT_SEL 2  &trans          &trans       &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans    &trans  &trans                &trans            &kp PAGE_DOWN  &kp LEFT        &kp DOWN      &kp RIGHT
                                           &trans           &kp KP_NUMBER_0  &kp KP_DOT       &trans    &trans  &kp LS(LEFT_CONTROL)  &kp LEFT_CONTROL  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
